.home-main{
    background: #5812c5;
    color:#fff;
    padding: 13%;
    text-align: center;
}
.blinker{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.home-main button{
    background: #fff;
    color: #5812c5;
    border-radius: 0;
    font-weight: 700;
    width: 16%;
    height: 50px;
    top: 4%;
    margin-top: 3%;
}
.home-main button:hover{
    transition: 1s ease;
    color:#5812c5;
    width: 19%;
}
.content1-left{
    padding:9%;
}
.content1-right{
    padding:9%;
    background:#e4e4e4;
}
.home-content2{
    background: #adb5bd;
    padding: 1.4%;
    text-align: center;	
}
.home-content2 p{
    font-size: 18px;
    line-height: 50px;
}
.home-content2 p span{
    font-weight: 500;
}


.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}


.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}


.progress-bar-warning {
    background-color: #f0ad4e; }
    
.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.our-skills .progress {
    height: 36px;
}

.col-md-5 {
    width: 41.66666667%;
  }

.contact-bg{
  background: url(./bg-contact.jpg)
}