
.greeting{
    color: white;
    font-family: 'Satisfy', cursive;
    text-align: center;
}
/* .mainHeading{
    color: whitesmoke;
    font-style:normal;
    font-size: 100;
    font-family: fantasy;
} */

body {
    
}

.jumbotron {
    background-image: url(./background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 750px;
    background-size: cover; 
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */

}

.button-container {
    font-family: 'Pacifico', cursive;

}


.blinker{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html {
    scroll-behavior: smooth;
  }
  